* {
  --text-subdued: var(--spice-text-subdued);
}

.marketplace-grid {
  grid-gap: 5px !important;
  --grid-gap: 5px !important;
}

.marketplace-grid.main-gridContainer-gridContainer.main-gridContainer-fixedWidth {
  grid-gap: 5px !important;
}

span.e-91000-text.encore-text-body-small-bold.encore-internal-color-text-subdued {
  color: var(--spice-text) !important;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--spice-button);
  border-radius: 15px;
  transition: all 100ms ease-in-out;
}

.gmNQCzeK5b2wiebA87rg {
  border-radius: 999px;
}

.Z4mTguN7TeVFsLjJDenV {
  padding-top: 0px !important;
}

a:not([data-encore-id]):focus,
a:not([data-encore-id]):hover,
a:not([data-encore-id])[data-context-menu-open="true"] {
  text-decoration: none !important;
}

#main-view
  > div.main-view-container
  > div.main-view-container__scroll-node.mpdgC9UTkN5_fMm1pFiz
  > div:nth-child(1)
  > div
  > main
  > div
  > div.main-home-filterChipsContainer
  > div.MViMHJvcIZ6RxUXEeLSf.CEB3nzyniIFOx1yM1eYy.main-home-filterChipsSection {
  background-color: var(--spice-button) !important;
}

span.e-91000-text.encore-text-body-small-bold.encore-internal-color-text-subdued:hover {
  background-color: var(--spice-button-highlight);
  color: var(--spice-text, 0.85) !important;
}

span.e-91000-baseline.e-91000-overflow-wrap-anywhere.e-91000-button-primary__inner.encore-bright-accent-set.e-91000-button-icon-only--large
  > span.e-91000-button__icon-wrapper {
  color: var(--spice-text) !important;
}

.onsie5c3fxySQ9zTLEyV.XKxjQQEVlm8kUnmpsvtP {
  display: none !important;
}

.main-card-PlayButtonContainer {
  -webkit-box-shadow: 0px 0px transparent !important;
  box-shadow: 0px 0px transparent !important;
}

.main-topBar-background.vGDIBokngqjkJTPAA_Bl,
.main-topBar-background.vGDIBokngqjkJTPAA_Bl.YvuRqbeaWUie8EdDmyBA,
.main-topBar-overlay {
  background-color: var(--background-highlight) !important;
}

.DWIabsKiPzMNV7HphphB
  > .main-playButton-PlayButton
  > button.e-91000-button-primary.e-91000-button {
  background-color: var(--spice-button-highlight) !important;
}

span.e-91000-baseline.e-91000-overflow-wrap-anywhere.e-91000-button-primary__inner.encore-bright-accent-set.e-91000-button-icon-only--medium {
  color: var(--spice-text) !important;
}

span.e-91000-baseline.e-91000-overflow-wrap-anywhere.e-91000-button-primary__inner.encore-bright-accent-set.e-91000-button-icon-only--large.BmbbhQfGuARvXxY6MWWF {
  color: var(--spice-text) !important;
}

.view-homeShortcutsGrid-shortcut
  .view-homeShortcutsGrid-PlayButtonContainer
  .view-homeShortcutsGrid-playButton {
  box-shadow: 0px 0px transparent !important;
}

span.Type__TypeElement-sc-goli3j-0.TypeElement-type-canon {
  font-size: 2.5rem;
  font-weight: 700;
}

.ez6VSvyLd4r5M9qTylcA {
  background-color: var(--spice-highlight-elevated) !important;
  color: var(--spice-text) !important;
}

.max-w-5xl {
  max-width: 100% !important;
}

.stats-page {
  padding: 1px 26px !important;
  max-width: 100% !important;
  padding-top: 22px !important;
}

.pt-16 {
  padding-top: calc(var(--spacing) * 6) !important;
}

main.hy5GSmgGlKpqnNN19mRv {
  color: var(--spice-text) !important;
}

*:focus {
  outline-color: var(--spice-button-active) !important;
}

.marketplace-tabBar-headerItem
  > a.marketplace-tabBar-headerItemLink.marketplace-tabBar-active {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.marketplace-tabBar-headerItem {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 999px;
  font-size: small;
}

button.encore-text-body-medium-bold.e-91000-button-primary.e-91000-button {
  color: var(--spice-text) !important;
}

.Root__now-playing-bar {
  padding: 3px !important;
}

.marketplace-grid
  .main-card-draggable
  .main-card-cardMetadata
  li.marketplace-card__tag[data-tag="external JS"],
.marketplace-grid
  .main-card-draggable
  .main-card-cardMetadata
  li.marketplace-card__tag[data-tag="archived"] {
  background-color: var(--spice-button) !important;
}

.marketplace-tabBar-header {
  align-items: center;
  display: flex;
  gap: 5px;
}

.recent-title,
.recent-name,
.stats-title,
.activity-title,
.top-list-title,
.item-name {
  color: var(--spice-text);
}

.main-cardImage-image,
.main-card-imagePlaceholder {
  border-radius: 6px;
}

.dF0K0jaEfxecrAYyZnVY.contentSpacing {
  padding: 0px 29px 0px 29px;
}

.marketplace-header {
  padding: 0px 12px 0px 12px;
}

.main-card-card {
  background-color: transparent !important;
}

.main-card-card:hover {
  background-color: var(--spice-highlight-elevated) !important;
}

.marketplace-header {
  position: initial;
  margin-top: 64px;
}

.marketplace-card-desc {
  margin: 5px 0px !important;
}

.marketplace-card-type-heading {
  display: none !important;
}

.overview-card.hero {
  background: linear-gradient(135deg, #b223ba 0%, #b4114f 100%) !important;
  color: #ffffff !important;
}

.main-card-draggable {
  gap: 10px !important;
}

.marketplace-tabBar-headerItemLink {
  padding: 6px 12px;
  width: fit-content;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.marketplace-tabBar-active {
  border-radius: 999px;
  color: #000000 !important;
}

.period-tab {
  color: rgb(255 255 255 / 60%) !important;
}

period-tab.active {
  color: #ffffff !important;
}

.stats-page {
  --background-tinted-base: var(--spice-main-elevated) !important;
}

.genre-bar-fill {
  background: var(--spice-button-highlight) !important;
  opacity: 35 !important;
}

.footer-btn.primary {
  background-color: var(--spice-button) !important;
  color: var(--spice-text);
}

* {
  --ls-accent: var(--spice-button) !important;
  --ls-accent-hover: var(--spice-button-highlight) !important;
}

.lastfm-input:focus {
  border-color: var(--spice-button) !important;
}

.footer-btn.primary:hover {
  background-color: var(--spice-button-highlight) !important;
  color: var(--spice-text);
}

.heart-btn.liked {
  color: var(--spice-button) !important;
}

.stat-text .overview-value.green {
  color: var(--spice-button) !important;
}

.main-card-imageContainer > *:hover {
  --background-highlight: var(--spice-button-highlight) !important;
}

.e-91000-button-primary:hover .e-91000-button-primary__inner {
  background-color: var(--spice-button-highlight) !important;
}

.main-home-homeHeader {
  background-color: var(--spice-button-active) !important;
  height: 50% !important;
  background-image: linear-gradient(
    rgba(var(--spice-rgb-shadow), 0.2) 0,
    var(--background-base) 100%
  ) !important;
}

.activity-bar.peak {
  background-color: var(--spice-button) !important;
}

.activity-peak strong {
  color: var(--spice-button) !important;
}

.activity-bar:hover {
  background-color: var(--spice-button) !important;
}
